body , html{
    overflow-x: hidden;
}
.btn_theme{
    background-color: rgb(49, 133, 49);
    border: 1px solid green;
    color: #fff;
    padding: 10px 40px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}
.first_sec img{
    margin-top: 100px;
    height: 130px !important;
    object-fit: cover;
    width: 100%;
}