.side_nav{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
    background-color: #282828;
    height: 100vh;
    color: #fff;
}
.side_nav ul{
    padding: 0;
}
.side_nav li a svg{
    padding-right: 10px;
    font-size: 30px;
    display: inline;
}
.side_nav li{
    list-style: none;
}
.side_nav a{
    color:#fff;
    text-decoration: none;
}
.logo a{
    font-size: 32px;
    text-decoration: none;
    display: block;
    text-align: left;
}
nav li{
    line-height: 1.5;
    margin-top: 10px;
}